@font-face{
	font-family:'DisposableDigi BB';
	src: url('/fonts/DisposableDigi_BB.ttf') format('truetype');
}
body{
	margin: 0px;
	background-color: black;
}
button{
	background-color: green;
	border: 2px solid darkgreen;
}
.playhole{
	width:100px;
	height:100px;
	position:absolute;
	display:inline-block;
	z-index:1;
	background-size: 100% 100%;
	background-color: transparent;
	visibility:hidden;
}
#playfield{
	position: relative;
	display: block;
	width:100%;
	height:720px;
	background-image: url("/img/Dirt.jpg");
}
#cheevoModal{
	visibility: hidden;
	display: inline-block;
	position: relative;
	margin:15% 35%;
	width:30%;
	height:30%;
	z-index:5;
	background-color: black;
	border: 4px solid white;
	border-radius: 12px;
	color:white;
	text-align: left;
}
#cheevoicons{
	display: flex;
	bottom:30px;
	width:80%;
	height:30px;
	border: 2px solid white;
	border-radius: 10px;
	margin:0% 10%;
	overflow:hidden;
}
div#cheevoModal > div#cheevoicons{
	position: absolute;
}
#closebutton{
	text-align:left;
	position: relative;
	display: inline-block;
	border:2px solid white;
	padding:3px;
	top:10px;
	left:10px;
}
#cheevotext{
	top:20px;
	position: relative;
	text-align: center;
	font-size: 40px;
	width:80%;
	margin:0% 10%;
}
#infobody{
	display: flex;
	background-color: black;
	border-bottom: 4px solid white;
}
.infolabel{
	color:white;
	font-family: "DisposableDigi BB";
	display: inline-block;
	margin: auto;
	font-size: 36px;
	text-align: center;
}
.infostuff{
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-family: "DisposableDigi BB";
	font-size: 36px;
}
img.digglet{
	width:100%;
	height:100%;
}
footer{
	border-top:4px solid white;
	background-color: black;
}
.text1{
	text-align: center;
	font-size: 24px;
	font-family: "DisposableDigi BB";
	color:white;
}
.cheevo{
	width:24px;
	height:24px;
}
.cheevomargin{
	margin-left:auto;
	margin-right:auto;
	display: inline-block;
}